---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "首頁";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>一起學習 Astro!</h2>
	<Greeting client:load messages={["Hello", "Hi", "Hey"]} />
</BaseLayout>
